body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #DCDCDC;
}

.space {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.principalDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10%;

}


.topText {
    font-size: 24px;
    border-bottom: 2px solid red;
}

.containerBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    display: flex;
    /* padding: 10px; */
    /* padding-left: 10px; */
    flex-wrap: wrap;
    margin: 10px;
    border: 0;
    border-radius: 8px;
    padding-left: 10px;
    padding: 10px;
}

.inputDonw {
    display: flex;
    flex-direction: column;
}

.inputsDown {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    border: 0;
    border-radius: 8px;
    padding-left: 10px;
    padding: 50px;

}

.topTable {
    display: flex;
    padding-top: 10px;
}

.button {
    padding: 15px;
    border-radius: 10px;
    border: 0;
    background-color: #BE152A;
    color: #fff;
}

.button1 {
    padding: 15px;
    border-radius: 10px;
    border: 0;
    background-color: #9E9E9E;
    color: #fff;
}

.logo {
    width: 230px;
    height: 100px;
}

.bodyContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid crimson;
    color: #5B595C;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.input-search {
    border-radius: 20px;
    padding: 8px;
    width: 50%;
    border: solid 0px;
    margin: 5px;
    padding-left: 30px;
}

.input-button {
    border-radius: 20px;
    padding: 8px;
    border: 0px solid;
    background-color: #BE152A;
    color: #fff;
}

.section-content {
    padding-left: 160px;
    display: flex;
}

.table {
    display: grid;
    font-family: Impact, Haettenschweiler, inherit;
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tr-linhasV {
    background-color: #ffffff;
}

.linhas {
    /* padding-right: 50px; */
    border: 1px solid;
    text-align: left;
    padding: 10px;
}

.linhas-Email {
    padding-right: 100px;
    border: 1px solid;
}

.input-botao {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.input-botao1 {
    margin: 3px;
    width: 30px;
    height: 30px;
}

.section-down {
    background-color: #5B595C;
}

/* }

.grid1 {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    border-bottom: solid 1px;
    border-right: solid 1px;
}

.grid2 {
    grid-column: 2;
    grid-row: 1;
    border-bottom: solid 1px;
    border-right: solid 1px;

}

.grid3 {
    grid-column: 3;
    grid-row: 1;
    border-bottom: solid 1px;
    border-right: solid 1px;

}

.grid4 {
    grid-column: 4;
    grid-row: 1;
    border-bottom: solid 1px;
    border-right: solid 1px;

}

.grid5 {
    grid-column: 5;
    grid-row: 1;
    border-bottom: solid 1px;
    border-right: solid 1px;

}

.grid6 {
    grid-column: 6;
    grid-row: 1;
    border-bottom: 1px solid;
    border-right: solid 1px;

} */